<div class="adminContainer">
  <div class="add-game-box">
    <h1>Add New Game</h1>
    {{new-game saveGame="saveGame"}}
  </div>

  <div class="admin-game-list">
    <h2>All Tabletop RPGs</h2>
    <ul>
      {{#each model.tablegames as |game|}}
      {{admin-tile game=game updateGame="updateGame" destroyGame="destroyGame"}}
      {{/each}}
    </ul>
  </div>

  <div class="admin-game-list">
    <h2>All Board Games</h2>
    <ul>
      {{#each model.boardgames as |game|}}
        {{admin-tile game=game updateGame="updateGame" destroyGame="destroyGame"}}
      {{/each}}
    </ul>
  </div>

  <div class="admin-game-list">
    <h2>All Card Games</h2>
    <ul>
      {{#each model.cardgames as |game|}}
        {{admin-tile game=game updateGame="updateGame" destroyGame="destroyGame"}}
      {{/each}}
    </ul>
  </div>

</div>
